<nav>
    <h1>DOORCRASH</h1>
    <ul>
        
        <li><a href="/dash">My Dashboard</a></li>
        <li><a href="/stories">View Stories</a></li>
        
        <li><a href="/auth/logout">Logout</a></li>

    </ul>
    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Menu
        </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="/dash">My DashBoard</a></li>
            <li><a class="dropdown-item" href="/stories">View Stories</a></li>
            <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav>