<div class="login-container">
    <h1>DOORCRASH</h1>
    <p>Tell Your DoorDash Stories!</p>
    <div class="divider"></div>
    <div class="section">
        <a href="/auth/google" class="login-btn">
        LOGIN WITH GOOGLE</a>
    </div>
</div>